body ::selection {
    background-color: #88a4d3 !important; /* blue */
}

/* Hint mode color styling
 * The precedence of the user style is lower than that of the website so you
 * have to mark your style definition to have higher priority.
 */
span[vimbhint^='label'] {
    background-color: #cabcb1 !important; /* fg */
    border: 1px solid #231e18 !important; /* bg */
    color: #231e18 !important; /* bg */
    font: bold 10pt monospace !important;
    opacity: 1 !important;
    padding: .1em .4em !important;
    text-transform: uppercase !important;
}
span[vimbhint='label focus'] {
    font: bold 13pt monospace !important;
}
*[vimbhint^='hint'] {
    background-color: #e0ac16 !important; /* yellow */
    color: #231e18 !important; /* bg */
}
*[vimbhint='hint focus'] {
    background-color: #88a4d3 !important; /* blue */
    color: #231e18 !important; /* bg */
}
